<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Base para aplicações NodeJS</title>
</head>
<body>
  <div class="text-center">
    <br />
    <img src="/image/marcaifms.png" alt="IFMS">
    <br /><br />
    <h1><%= title %></h1>
    <h3><%= subtitle %></h3>
    <p>Autor: Prof. Me. Luiz Picolo</p>
    <p>PAGINA INICIAL, ANTES DA NOTICIA</p>
  
</div>
</body>
</html>